@import "./reset.scss";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap");
@import "./mixins.scss";
@import "./components/loader.scss";
@import "./components/header.scss";
@import "./components/navigation.scss";
@import "./components/breed-list.scss";
@import "./components/card.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  background: #151419;
  font-family: "IBM Plex Sans", sans-serif;
}

p,
a,
button {
  color: #626262;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px 40px;
}

.card-container {
  margin-top: 25px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);

  &:first-child {
    grid-column: 1 / -1;
  }
}

.button {
  cursor: pointer;
  border-color: transparent;
  outline: none;
  background: none;
}

.observer {
  height: 1px;
}

.notification {
  width: 100%;
  margin: 25px 0;
  text-align: center;
  color: #626262;
}

@media all and (max-width: 767px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (max-width: 574px) {
  .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
}