.navigation-container {
  @include df-space-between;

  .breeds-button {
    margin: 0 20px 0 0;
    padding: 8px 0;
    border-bottom: 0.5px dashed #ffffff;
    color: #fff;

    span {
      margin: 0 10px 0 0;
    }

    svg {
      transition: 0.2s all ease-in-out;
    }

    &.active {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  .all-breeds-button {
    padding: 4px 12px;
    border: 1px solid #3c59f0 !important;
    border-radius: 20px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    line-height: 16px;
    font-size: 12px;
    color: #3c59f0;

    span {
      margin: 0 8px 0 0;
    }
  }

  .sort-button {
    text-align: right;
    letter-spacing: 0.01em;
    line-height: 28px;
    font-size: 16px;
    color: #626262;
    @include df-space-between;

    .switcher {
      position: relative;
      width: 29px;
      height: 15px;
      margin: 0 0 0 15px;
      transition: 0.2s all ease-in-out;
      border: 1px solid #626262;
      border-radius: 9px;

      &:after {
        content: "";
        position: absolute;
        top: 2.5px;
        left: 3px;
        width: 10px;
        height: 10px;
        display: block;
        transition: 0.2s all ease-in-out;
        border-radius: 100%;
        background: #626262;
      }
    }

    &.active {
      color: #fff;

      .switcher {
        border: 1px solid #fff;

        &:after {
          left: 15px;
          background: #fff;
        }
      }
    }
  }
}
